.footer {
  padding-top: 5.87rem;
  padding-bottom: 6.56rem;
  transform: translate(0, 0.25rem);
  position: relative;
}

.footer .footer-bg-deco-mobile {
  display: none;
}

.footer .footer-deco {
  width: 51.43556rem;
  height: fit-content;
  position: absolute;
  z-index: 0;
  top: 5rem;
  right: -4rem;
  pointer-events: none;
}

.footer .footer-container {
  width: 80rem;
  margin: auto;
  display: flex;
  z-index: 1;
  position: relative;
}

.footer .footer-bg-deco {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.footer .footer-container .first-col {
  flex-basis: 45%;
}

.footer .footer-container .second-col {
  flex-basis: 55%;
}

.footer .footer-container .first-col {
  flex-basis: 45%;
}

.footer .logo {
  width: 17.68269rem;
  height: 5.63594rem;
  margin-bottom: 1rem;
  display: block;
}

.footer .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer .footer-container .first-col P {
  color: var(--Foundation-Grey-Light, #f3f3f3);
  font-family: SVN-Gilroy;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
  margin-bottom: 3.44rem;
}

.footer .footer-container .first-col .btn-container {
  display: flex;
  align-items: center;
}

.footer .footer-container .first-col .btn-container > * + * {
  margin-left: 0.78rem;
}

.footer .footer-container .first-col .btn-container a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.footer .footer-container .first-col .btn-container a svg {
  width: 1.25rem;
  height: 1.25rem;
}

.footer .footer-container .second-col {
  padding-top: 4.9rem;
}

.footer .footer-container .second-col .kKao4-footer-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4.88rem;
}

.footer .footer-container .second-col .kKao4-footer-container p {
  color: var(--backgroud, #fff);
  font-family: SVN-Gilroy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  width: 25.125rem;
}

.footer .footer-container .second-col .kKao4-footer-container strong {
  color: var(--backgroud, #fff);
  font-family: SVN-Gilroy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.footer .footer-container .second-col .kKao4-footer-container button {
  width: 1.625rem;
  height: 1.625rem;
  margin-left: auto;
  margin-top: 0.5rem;
}

.footer .footer-container .second-col .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.38rem;
}

.footer .footer-container .second-col .btn-container button {
  color: var(--Foundation-Grey-Light, #f3f3f3);
  font-family: SVN-Gilroy;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.footer .footer-container .second-col .divider {
  height: 0.0625rem;
  opacity: 0.2;
  background-color: #cdebd7;
}

.footer .footer-bottom-container {
  padding: 0.75rem 0.625rem;
  color: #fff;
  text-align: center;
  font-family: SVN-Gilroy;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20625rem;
  background-color: var(--primary-bonus-hover);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0.25rem;
}

.footer .mobile-divider {
  display: none;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
    width: 100%;
  }

  .footer .footer-container {
    width: 21.9375rem;
    margin: auto;
    flex-direction: column;
  }

  .footer .logo {
    width: 17.68269rem;
    height: 5.63594rem;
    margin-bottom: 1rem;
    display: block;
  }

  .footer .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer .footer-bg-deco {
    display: none;
  }

  .footer .footer-bg-deco-mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .footer .footer-deco {
    display: none;
  }

  .footer .logo {
    width: 9.5625rem;
    height: 3rem;
    margin: auto;
    margin-bottom: 1.12rem;
  }

  .footer .footer-container .first-col P {
    color: var(--Primary-Light, #eff9f2);
    font-family: Quicksand;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer .footer-container .first-col .btn-container {
    justify-content: center;
    margin-bottom: 1.25rem;
  }

  .footer .footer-container .first-col .btn-container a {
    width: 2rem;
    height: 2rem;
  }

  .footer .footer-container .first-col .btn-container a svg {
    width: 1rem;
    height: 1rem;
  }

  .footer .divider-mobile {
    display: block;
    height: 0.0625rem;
    opacity: 0.8;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.52) 49.62%,
      rgba(255, 255, 255, 0) 98.21%
    );
    margin-bottom: 1.44rem;
  }

  .footer .footer-container .second-col {
    padding-top: 0;
  }

  .footer .footer-container .second-col .kKao4-footer-container {
    margin-bottom: 0;
  }

  .footer .footer-container .second-col .kKao4-footer-container p {
    color: var(--backgroud, #fff);
    font-family: SVN-Gilroy;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .footer .footer-container .second-col .kKao4-footer-container strong {
    color: var(--backgroud, #fff);
    text-align: center;
    font-family: SVN-Gilroy;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .footer .footer-container .second-col .kKao4-footer-container button {
    display: none;
  }

  .footer .footer-container .second-col .btn-container {
    display: none;
  }

  .footer .footer-bottom-container {
    color: var(--Grey-White, #fff);
    text-align: center;
    font-family: SVN-Gilroy;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: -0.0225rem;
  }
  
  .footer .divider {
    display: none;
  }
}
